@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-focus: 0, 0, 0;
	--color-gray: 128, 128, 128;
	--color-alert: 255, 0, 0;
	--color-invert: 255, 255, 255;
	--color-disabled: 169, 169, 169;
	--color-background: 255, 255, 255;
	--color-elevation: 243, 244, 246;
	--color-brand: 8, 194, 105;
}
/* 
@media (prefers-color-scheme: dark) {
	:root {
		--color-focus: 255, 255, 255;
		--color-gray: 128, 128, 128;
		--color-alert: 255, 0, 0;
		--color-invert: 255, 255, 255;
		--color-disabled: 169, 169, 169;
		--color-background: 0, 0, 0;
		--color-elevation: 18, 19, 23;
		--color-brand: 8, 194, 105;
	}
} */

body {
	color: rgb(var(--color-focus));
	background: rgb(var(--color-background));
	font-feature-settings: "dlig", "tnum", "cv03", "cv04", "cv10", "cpsp";
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
